@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background: #098cff;
    margin: 3px;
    border-radius: 15px;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "poppins", sans-serif;
    /* background: #000; */
}

nav {
    position: fixed;
    top: 12px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
    height: 60px;
    animation: loadAfter 0.7s linear;
    z-index: 999;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 0 35px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline solid 2px #ff4e95;
    text-underline-offset: 4px;
}


.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: transform 0.4s;
}

@keyframes loadAfter {
    0% {
        transform: translateY(-100%);
        visibility: 0;
    }

    100% {
        transform: translateY(0);
        visibility: 1;
    }
}



.home {
    /* background: #2C3E50;  */
    background: linear-gradient(to right, #403a3e, #be5869);
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* backdrop-filter: brightness(80%); */
}

.intro {
    position: absolute;
    color: #fff;
    font-size: 28px;
    top: 200px;
    left: 100px;
}

.hello {
    display: flex;
    flex-direction: column;
}

.hello span {
    color: #ff4e95;
    font-size: 58px;
}

.hello span span {
    color: #ddff6e;
}

.iam span {
    color: #ddff6e;
    font-size: 28px;
}

.button {
    margin: 15px auto;
}

.button a,
.buttons a {
    background: #ff2f82;
    height: 50px;
    padding: 3px 10px;
    border: #ff2f82 2.5px solid;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.button a:hover,
.buttons a:hover {
    background: none;
    border: #ff2f82 2.5px solid;
}

/********************* ABOUT ******************/
.section {
    padding: 4.4em 1em;
}

#about {
    background: #12181b;
}

.section h1 {
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    text-decoration: underline tomato solid 2px;
    text-underline-offset: 5px;
    font-weight: 550;
    font-family: sans-serif;
}

#about p {
    color: #ffffff;
}

.para {
    margin: 20px;
}

.warp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px auto;
}

.warp img {
    max-width: 350px;
    height: 400px;
    margin: 0 20px;
    border-radius: 3px;
    border: solid 1.5px #fff;
}

.warp .about_content {
    max-width: 500px;
    text-align: justify;
    display: flex;
    flex-direction: column;

}

.type {
    color: tomato;
    font-size: 18px;
    font-weight: 600;
}

#skills {
    background: #4A90E2;
}

#skills h1 {
    color: #fff;
}

.bars {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.bar {
    margin: 15px 5px;
    width: 400px;
}

.progress2 {
    padding: 3px;
    border-radius: 30px;
    background: #fff;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 15px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.4s linear;
}

.progress-bar2 {
    width: 65%;
    background-color: #ef476f;
}

.bars span {
    color: #09ffe2;
}

.buttons {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons li {
    margin: 20px 15px 0 0;
    list-style: none;

}

.buttons a {
    font-size: 21px;
    padding: 5px;
}

.cards p {
    color: #09ffe2;
    max-width: 500px;
    text-align: justify;
    margin-right: 21px;
}

.cards h2 {
    color: #ddff6e;
    margin: 10px 0;
    font-size: 24px;
    font-weight: normal;
    text-decoration: underline solid 1.5px #fff;
    text-underline-offset: 4px;
}

.custom-shape-divider-bottom-1698167216 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1698167216 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 114px;
}

.custom-shape-divider-bottom-1698167216 .shape-fill {
    fill: #12181b;
}

.custom-shape-divider-bottom-1698169921 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1698169921 svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1698169921 .shape-fill {
    fill: #4A90E2;
}


.custom-shape-divider-bottom-1698172468 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698172468 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 111px;
}

.custom-shape-divider-bottom-1698172468 .shape-fill {
    fill: tomato;
}

section {
    position: relative;
}

#achivements h1 {
    color: #098cff;
    text-decoration: underline solid #4A90E2 2px;
}

#contacts {
    background: tomato;
}

#contacts h1 {
    color: #fff;
    text-decoration: underline solid #fff 2px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    min-height: 300px;
    margin: 20px;
    background: #12181b;
    border-radius: 3px;
    align-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.project img {
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
    margin: 5px auto;
    border: tomato solid 2.5px;
}

.project h2 {
    font-size: 26px;
    font-weight: 550;
    color: #ffffff;
    text-decoration: underline 2px solid #09ffe2;
    text-underline-offset: 5px;
}

.project span {
    text-align: justify;
    padding: 8px;
    color: tomato;
}

.project span a {
    text-decoration: none;
    color: #fff;
}

.fa-angles-right {
    color: #fff;
    animation: move 1.5s linear infinite;
    margin: 0 20px 0 0;
}

@keyframes move {
    0% {
        transform: translateX(0);
        visibility: 0.2;
        transition: all ease-in;
    }

    100% {
        transform: translateX(20px);
        visibility: 1;
        transition: all ease-out;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#contacts h2 {
    text-decoration: underline #fff solid 2.5px;
    text-underline-offset: 4px;
    color: #ddff6e;
}

.connect_content {
    color: #f1f1f1;
    text-align: justify;
}

.contacts ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.contacts ul li {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-content: center;
    align-items: center;
}

.user_info {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 38px;
    color: #ddff6e;
    margin-right: 15px;
}

.user_info .head {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.user_info .head_child {
    color: #fff;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}


form {
    margin: 20px 0;
}

form .fields {
    display: flex;
}

form .field,
form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

form .textarea {
    height: 80px;
    width: 100%;
}

form .name {
    margin-right: 10px;
}

form .field input,
form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus {
    border-color: #b3b3b3;
}

form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

form .button-area {
    display: flex;
    align-items: center;
}

form .button-area button {
    color: #fff;
    display: block;
    width: 160px !important;
    background: teal;
    height: 50px;
    padding: 3px 10px;
    border: 2.5px solid #fff;
    border-radius: 7px;
    font-size: 18px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

form .button-area button:hover {
    background: none;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background: #12181b;
    height: 65px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    color: #fff;
    padding: 5px;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.footer a:hover {
    color: rgb(86, 161, 253);
}

.footer span {
    margin: 4px;
}

@media(max-width:900px) {

    .nav-links {
        display: none;
        flex-direction: column;
        background: linear-gradient(to top, #403a3e, #be5869);
        position: absolute;
        right: 0;
        width: 200px;
        height: 100vh;
        padding: 50px;
        top: 0;
        text-align: left;
        z-index: -1;
    }


    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .intro {
        font-size: 22px;
        left: 20px;
    }

    .logo {
        margin: 0 0 0 5px;
    }

    nav ul li {
        margin: 20px 0 0 20px;
    }

    #about img {
        width: 300px;
        height: 300px;
    }

    .bar {
        margin: 15px 5px;
        width: 250px;
    }

    .progress-bar2 {
        height: 10px;
    }


    .form {
        margin: 40px 0;
    }

    .fields {
        display: flex;
        flex-direction: column;
    }
}
